*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

.div_gym{
  display: flex;
  background: #F4F4F4;
  padding-top: 3em;
  justify-content: space-evenly;
  height: 600px;
}

.container{
  width: 30%;
  padding-top: 3em;
  font-size: 20px;
  font-family: Arial,serif;
}

.container h2{
  padding-top: 2em;
  padding-bottom: 1em;
  color: #cdd;
  
}

.container p{
  color: #cdd;
  line-height: 1;
}

.container .p_button{
  background-color: #cdd;
  width: 40%;
  height: 40px;
  color: #f4f4f4;
  margin-top: 2em;
  margin-left: 3em;
  text-align: center;
  padding-top: 0.5em;
  cursor: pointer;
}

.cat{
  box-shadow: 0px 0px 40px 20px #fafafa;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  width: 100%;
}

@media (max-width: 768px) {

  .div_gym{
    display: block;
    padding-top: 0.1em;
    width: 100%;
    height: 440px;
  }

  .container{
    width: 70%;
    text-align: center;
    padding-top: 1em;
    font-size: 12px;
    padding-left: 2em;
  }

  .container h2{
    text-align: center;
    width: 100%;
    font-size: 15px;
    color: #3b5889;
    
  }
  .container p{
    color: #3b5889;
    width: 100%;
  }

  .container .p_button{
    color: #aaa;
    margin-bottom: 2em;
    margin-top: 2em;
    margin-left: 5em;
    background: #3b5889;
    text-align: center;
    padding-top: 0.8em;
  }

  .cat{
    width: 100%;
    object-fit: cover;
  }
  
}
